.container {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 15px;
    height: 100vh;
    
}

h3 {
    margin-bottom: 15px;
}

.form-container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    display: block;
}
.label-checkbox {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    
}
.label-checkbox input[type="checkbox"] {
    margin-right: 10px;

}

input, 
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: whitesmoke;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
